doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/dashboard.css")
        title ApoloChecks
    body 
        main 
            h1 ApoloChecks
            form(action="/add", method="POST")
                input(type="text", name="task", placeholder="New task")
                button(type="submit") Add Task
            ul 
                each task in tasks
                    li 
                        .check
                            input(type="checkbox", name="check", id=`checkbox-${task.id}`)
                            label(for=`checkbox-${task.id}`)
                        .container
                            - id = task.id
                            p(class=task.completed ? "completed" : "")= task.title || "untitled"
                            .actions 
                                form(action="/delete/" + id, method="POST")
                                    button(type="submit") Delete
        script(src="/scripts/dashboard.js") 
