doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/dashboard.css")
        title ApoloChecks
    body 
        main 
            h1 ApoloChecks
            form(action="/add", method="POST")
                input(type="text", name="task", placeholder="Enter a new task")
                button(type="submit") Add Task
            ul 
                each task in tasks
                    li 
                        .check
                            input(type="checkbox", name="check")
                        .container
                            p= task.title || "untitled"
                            .task-actions 
                                edit 
                                delete
